		<div class='span2' style='padding-right: 5px;'>
			<h5 class='text-info'> 
				Select Chart Type 
			</h5>
			<div id="btn-group" class="btn-group" data-toggle="buttons-radio" valueBinding="view.chartType">
				<label> Basic Chart Types  </label>

				<button type="button" class="btn" value="pie" data-toggle="tooltip" title="Pie Chart">
					<img src="/assets/pie.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="donut" data-toggle="tooltip" title="Donut Chart">
					<img src="/assets/chart_types.png" style="width: 25px; height: 25px"/>
				</button>
				
				<button type="button" class="btn" value="gauge" data-toggle="tooltip" title="Gauge Chart">
					<img src="/assets/gaugeicon.png" style="width: 25px; height: 25px"/>
				</button>	

				<br />

				<button type="button" class="btn" value="single_value" data-toggle="tooltip" title="Single Value">
					<img src="/assets/one.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="line" data-toggle="tooltip" title="Line Chart">
					<img src="/assets/line.png" style="width: 25px; height: 25px"/>
				</button>
				
				<button type="button" class="btn" value="multiline" data-toggle="tooltip" title="Multiline Chart">
					<img src="/assets/multiline.png" style="width: 25px; height: 25px"/>
				</button>

				<br />

				<button type="button" class="btn" value="bar" data-toggle="tooltip" title="Bar Chart">
					<img src="/assets/bar.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="hbar" data-toggle="tooltip" title="Horizontal Bar Chart">
					<img src="/assets/horizontal_bar_n.ico" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="combo" data-toggle="tooltip" title="Combination Chart">
					<img src="/assets/combination.png" style="width: 25px; height: 25px"/>
				</button>

				<br />

				<button type="button" class="btn" value="area" data-toggle="tooltip" title="Area Chart">
					<img src="/assets/area.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="stacked_area" data-toggle="tooltip" title="Stacked Area Chart">
					<img src="/assets/chart_area.png" style="width: 25px; height: 25px"/>
				</button>				
				
				<button type="button" class="btn" value="ctree" data-toggle="tooltip" title="Collapsible Tree Chart">
					<img src="/assets/ctree.png" style="width: 25px; height: 25px"/>
				</button>
				
				<br/>
				
				<button type="button" class="btn" value="heatmap" data-toggle="tooltip" title="Heatmap">
					<img src="/assets/heatmap.png" style="width: 25px; height: 25px"/>
				</button>	
				
				<button type="button" class="btn" value="scatter_plot" data-toggle="tooltip" title="Scatter Plot">
					<img src="/assets/scatterplot.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="funnel" data-toggle="tooltip" title="Funnel Chart">
					<img src="/assets/funnel.png" style="width: 25px; height: 25px"/>
				</button>					
				
				<label> Table Charts  </label>
				
				<button type="button" class="btn" value="table" data-toggle="tooltip" title="Table Chart">
					<img src="/assets/table.png" style="width: 25px; height: 25px"/>
				</button>
				
				<button type="button" class="btn" value="ctable" data-toggle="tooltip" title="Collapsible Table Chart">
					<img src="/assets/ctable.png" style="width: 25px; height: 25px"/>
				</button>
				
				<button type="button" class="btn" value="grouped_table" data-toggle="tooltip" title="Grouped Table">
					<img src="/assets/grouped_table.png" style="width: 25px; height: 25px"/>
				</button>
				
				<br/>

				<label> Geo Charts  </label>
				
				<button type="button" class="btn" value="geo" data-toggle="tooltip" title="Geo Chart">
					<img src="/assets/geo.png" style="width: 25px; height: 25px"/>
				</button>
				
				<button type="button" class="btn" value="geo_india" data-toggle="tooltip" title="India Chart">
					<img src="/assets/india-icon.png" style="width: 25px; height: 25px"/>
				</button>

				<button type="button" class="btn" value="geo_usa" data-toggle="tooltip" title="USA Chart">
					<img src="/assets/usa-icon.png" style="width: 25px; height: 25px"/>
				</button>					
			  			  		  
			</div>			
		</div>