<strong>
	Bar Chart Configs
</strong>
<hr class='compact'>
<div class='row'>
	<div class="span4">
		<div class='row'>
			<div class='span2'>
				<label>Plot Absolute Values?</label>
			</div>
			<div class='span'>
				{{view Ember.Checkbox checkedBinding="configObject.plot_abs_values" name='plot_abs_values' value=true }}
			</div>
		</div>
	</div>
</div>
