<div class='row'>
	<div class='span'>
		<h4>Y Axis Labels</h4>
		<div class="input-prepend input-append">
			<span class="add-on">Left</span>
			{{view Ember.TextField class="input-large" valueBinding="configObject.y_axis_label_left" name='y_axis_label_left'}}
		</div>
		<br>
		<div class="input-prepend input-append">
			<span class="add-on">Right</span>
			{{view Ember.TextField class="input-large" valueBinding="configObject.y_axis_label_right" name='y_axis_label_right'}}
		</div>
	</div>
</div>
     
