<h4>Line Chart Configs</h4>
<hr class='compact'>

<div class="row">
	<div class='span2'>
		<label>Step Change?</label>
	</div>
	<div class='span'>
		{{view Ember.Checkbox checkedBinding="configObject.step_function" name='step_function' value=true }}
	</div>
</div>
