
<table>
	<tr>
		<td style='width: 100px;'>Number Format</td>		
		<td style='width: 100px'>      
	        {{view Ember.Select contentBinding="view.displayUnits" valueBinding="configObject.displayUnit" name="displayUnit" class="small"}}

		</td>
	</tr>
	<tr>
		<td style='width: 100px;'>Count</td>		
		<td style='width: 100px'>      
			{{input type='text'  valueBinding="view.count" class="input-small" name='Count' style=""}}
		</td>
	</tr>
</table>
