<div class="input-prepend input-append">
	<span class="add-on">Hierarchy</span>
	{{view Ember.TextField class="input-large arrayField" valueBinding="configObject.hierarchy" name='hierarchy'}}
</div>
<div style="margin-top:5px;margin-bottom:5px;">
	<span style="padding-right:67px;">Number Format </span>
	{{view Ember.Select contentBinding="view.displayUnits" valueBinding="configObject.displayUnit" name="displayUnit" class="small"}}
</div>