<div class="container" style="width:100%; padding-top:16px;">
  <div class="row homepage-bg" style="min-height:600px;">
    <div class="span" style="padding: 5% 21%; margin-top: 7%; width: 100%;">
      <div class="span login-bg" style="height: 79px; min-width: 400px; max-width: 100%;">
      	<h4 style="color: #FFFFFF;font-family: Roboto-Medium; margin: 20px; font-size: xx-large; word-spacing: 10px; line-height: 30px;"> You are not authorized to view this page. </h4>
      </div>
    </div> 
  </div>
</div>
