<div class="btn-group" data-toggle="buttons-radio" valueBinding="view.iconType">
<br/>						
  <button type="button" class="btn btn-icon" value="sales">
  	<img src="/assets/sales.png" style="width: 25px; height: 25px"/>
  	<span>Sales</span>
  </button>
  <button type="button" class="btn btn-icon" value="finance" >
  	<img src="/assets/finance.png" style="width: 25px; height: 25px"/>
  	<span>Finance</span>
  </button>
  <button type="button" class="btn btn-icon" value="marketing" >
  	<img src="/assets/marketing.png" style="width: 25px; height: 25px"/>
  	<span>Marketing</span>
  </button>
  <button type="button" class="btn btn-icon" value="hr">
  	<img src="/assets/hr.png" style="width: 25px; height: 25px"/>
  	<span>HR</span>
  </button>
  <button type="button" class="btn btn-icon" value="customer_service" >
  	<img src="/assets/customer_service.png" style="width: 25px; height: 25px"/>
  	<span>Customer<br/>Service</span>
  </button>
  <button type="button" class="btn btn-icon" value="education" >
  	<img src="/assets/education.png" style="width: 25px; height: 25px"/>
  	<span>Education</span>
  </button>
  <button type="button" class="btn btn-icon" value="healthcare" >
  	<img src="/assets/healthcare.png" style="width: 25px; height: 25px"/>
  	<span>Healthcare</span>
  </button>	
  <button type="button" class="btn btn-icon" value="banking" >
  	<img src="/assets/banking.png" style="width: 25px; height: 25px"/>
  	<span>Banking</span>
  </button>	
  <button type="button" class="btn btn-icon" value="manufacturing">
  	<img src="/assets/manufacturing.png" style="width: 25px; height: 25px"/>
  	<span>Manufacturing</span>
  </button>						  
  <br/>						  
</div>