		  


	
		  <button type="button" class="btn" {{bindAttr value=t}} data-toggle="tooltip"  title = {{ getTitle this }}>
		  	<img src={{ getImage this }} style="width: 25px; height: 25px"/>
		  </button>

