<h4>Chart Type</h4>	
<div class='row'>
	<div class='span'>
		<div class="btn-group" data-toggle="buttons-radio" valueBinding="view.chartType">
		  <button type="button" class="btn" value="pie" data-toggle="tooltip" title="Pie or Donut Chart">
		  	<img src="/assets/pie.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="bar" data-toggle="tooltip" title="Bar Chart">
		  	<img src="/assets/bar.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="ctree" data-toggle="tooltip" title="Collapsible Tree Chart">
		  	<img src="/assets/ctree.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="ctable" data-toggle="tooltip" title="Collapsible Table Chart">
		  	<img src="/assets/ctable.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="geo" data-toggle="tooltip" title="Geo Chart">
		  	<img src="/assets/geo.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="heatmap" data-toggle="tooltip" title="Heatmap">
		  	<img src="/assets/heatmap.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="combo" data-toggle="tooltip" title="Combination Chart">
		  	<img src="/assets/combination.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="table" data-toggle="tooltip" title="Table Chart">
		  	<img src="/assets/table.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="multiline" data-toggle="tooltip" title="Multiline Chart">
		  	<img src="/assets/multiline.png" style="width: 25px; height: 25px"/>
		  </button>

		  <button type="button" class="btn" value="line" data-toggle="tooltip" title="Line Chart">
		  	<img src="/assets/line.png" style="width: 25px; height: 25px"/>
		  </button>


		  <button type="button" class="btn" value="hbar" data-toggle="tooltip" title="Horizontal Bar Chart">
		  	<img src="/assets/horizontal_bar_n.ico" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="area" data-toggle="tooltip" title="Area Chart">
		  	<img src="/assets/area.png" style="width: 25px; height: 25px"/>
		  </button>
	      <button type="button" class="btn" value="scatter_plot" data-toggle="tooltip" title="Scatter Plot">
		  	<img src="/assets/scatterplot.png" style="width: 25px; height: 25px"/>
		  </button>

	      <button type="button" class="btn" value="grouped_table" data-toggle="tooltip" title="Grouped Table">
		  	<img src="/assets/grouped_table.png" style="width: 25px; height: 25px"/>
		  </button>

	      <button type="button" class="btn" value="single_value" data-toggle="tooltip" title="Single Value">
		  	<img src="/assets/one.png" style="width: 25px; height: 25px"/>
		  </button>
		  <button type="button" class="btn" value="stacked_area" data-toggle="tooltip" title="Stacked Area Chart">
			<img src="/assets/chart_area.png" style="width: 25px; height: 25px"/>
		  </button>
		</div>
	</div>
</div>
