<table>
	<tr>
		<td style='width: 100px;'>Select Values</td>
		<td style='width: 100px'>      
			{{view Ember.TextField class="arrayField" valueBinding="view.selection_values" name='selection_values' placeholder="Comma Separated List of Fields"}}
		</td>
	</tr>
	<tr>
		<td style='width: 100px'>Display Rank</td>
		<td style='width: 100px'>      
			{{view Ember.Checkbox valueBinding="view.display_rank" name='display_rank' value=true }}
		</td>
	</tr>

</table>
	
