<h4>Chart Type</h4>	
<div class='row'>
	<div class='span'>
		<div class="btn-group" data-toggle="buttons-radio" {{action 'geoChartTypeChanged' this on='click' target='view'}}>
		  <button type="button" class="btn btn-primary" value="world" name='geo_chart_type'>World</button>
		  <button type="button" class="btn btn-primary" value="india" name='geo_chart_type'>India</button>
		</div>
	</div>
</div>
<br>
