<div class="input-prepend input-append">
	<span class="add-on">Fields</span>
	{{view Ember.TextField class="input-xlarge arrayField" valueBinding="view.hierarchy" name='hierarchy' placeholder="Comma Separated List of Fields"}}
</div>
