
	<span style="font-size:10px">Modal Drill Through</span>

<div class="btn-group" data-toggle="buttons-radio" >

		  <button type="button" {{bindAttr class='btn_on'}} {{action 'editDrill' 1 target = view }} >
		ON
		  </button>
		  	  <button type="button" {{bindAttr class='btn_off'}} {{action 'editDrill' 0 target = view}} >
		OFF
		  </button>
</div>


