<form class="form-inline">
	<input type="text" id="title" class="input-medium" placeholder="Chart Title...">
	<br/>
	<input type="text" id="subtitle" class="input-medium" placeholder="Chart subtitle..(optional)">
	<div class="btn btn-small" {{ action "updateChart" this target=view}}>
		<i class="icon-ok"></i>
	</div>
</form>