{{#if hasComments}}
	<table class='table table-hover'>
		<tr>
			<td>
				<strong>User</strong>
			</td>
			<td>
				<strong>Message</strong>
			</td>
			<td>
			</td>
		</tr>
		{{#each comment in activeComments}}
			{{render "comment" comment}}
		{{/each}}
	</table>
{{else}} 
	<span class='label'>No comments </span>
	<hr>
{{/if}}