<form class='form form-inline'>
	<input type='text' class="input-medium" placeholder='Enter Comment' />
	<input type='text' class='input-small' placeholder='User Name' /><br><br>
	<button type='submit' class='btn'>Save</button>
	<button class="btn" aria-hidden="true" onclick="$(this).closest('li').find('.icon-comment').click();return false;">Cancel</button>
</form>