  	  <div class="modal-backdrop fade in" style="opacity:0.96">
  	  	<div class="modal fade in" style="margin-top:25px;">
		  <div class="modal-header">
		    <h3>Account Expired</h3>
		  </div>
		  <div class="modal-body">
		    <p>Your account has expired.</p>
		    <p>Please get in touch with your administrator or write to info@cerebrateinc.com</p>
		  </div>
		  <div class="modal-footer">
		   <a class="btn" {{action 'log_out' this target='view'}}>
             	 		Log out
           </a>
		  </div>
  	  	</div>
  	  </div>