<div class="input-append date datetimepicker">
    <input type="text" value="" readonly style="width:100%;">
    <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
</div>