<div class="span" style="width:100%;">
	<div class="row" {{bindAttr style=view.accountTopNavColor}}>	
		<button class="btn btn-info flat-button" type="button" style="margin-top:7px; background-color:#4093cd;">Color Preferences</button>
	</div>
</div>


	<div class="tab-content main-tab">
		<div class="row" style="background-color: #E3E3E3;min-height: 620px; padding:20px 0 0 20px;">
			{{outlet}}
		</div>
	</div><!-- tab-content -->	
