<div class="span" style="width:100%;">
	<div class="row" {{bindAttr style=view.accountTopNavColor}}>	
		<button class="btn btn-info flat-button" type="button" style="margin-top:7px; background-color:#4093cd;">Manage</button>
	</div>
</div>

{{outlet}}

