.cell-effort-driven {
  text-align: center;
}

.cell-selection {
  border-right-color: silver;
  border-right-style: solid;
  color: #444444;
  font-size: 13px;
  font-weight: 200;
  font-family: 'Roboto-Light';
  text-align: left;
  padding-left: 5px;
}

.cell-selection-left {
  border-right-color: silver;
  border-right-style: solid;
  color: #444444;
  font-size: 13px;
  font-weight: 200;
  font-family: 'Roboto-Light'
}

.slick-row:hover .cell-selection{
  background-color: #E2E2E2;
}

.slick-row:hover .cell-selection-left{
  background-color: #E2E2E2;
}

.slick-column-name {
	color: #ffffff;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.slick-header-column.slick-header-sortable {
	background-color: #3399FF;	
}
.ui-state-default {
	background: none;
}

.slick-header.ui-state-default, .slick-headerrow.ui-state-default {	
	background-color: #3399FF;	
	padding-top: 6px;
	height: 28px;
}

.slick-row.column-totals, .slick-row.column-totals .slick-cell { 
/*background-color:#25383C;  
font-style: italic; */
font-size:14px;
font-weight: bold; 
} 

.ui-widget{
	font-family: inherit;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}

.invisible{
  display: none;
}

#title
{
  background-color: yellow;
}
