<div id='modal-new-user' class='modal hide fade'>
	<div class="modal-header" style="background-color:323232;">
	<h1>Create New User</h1>
	</div>
	<div class="modal-body">
	<!--	<form id="new_user_form">
			<table>
				<tr>
					<td>Email</td>
					<td><input type="text" id="inputEmail" placeholder="Email"></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" id="inputFirstName" placeholder="First Name"></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" id="inputLastName" placeholder="Last Name"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="checkbox"> Is Admin</td>
				</tr>
			</table>
		</form> -->

		<form class="form-horizontal">
		  	<div class="control-group">
			    <label class="control-label" for="inputEmail">Email</label>
			    <div class="controls">
			      	<input type="text" id="inputEmail" placeholder="Email">
			    </div>
		  	</div>
		  	<div class="control-group">
			    <label class="control-label" for="inputFirstName">First Name</label>
			    <div class="controls">
			      	<input type="text" id="inputFirstName" placeholder="First Name">
			    </div>
		  	</div>
			<div class="control-group">
			    <label class="control-label" for="inputLastName">Last Name</label>
			    <div class="controls">
			      	<input type="text" id="inputLastName" placeholder="Last Name">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			    	<div class="span" style="width: 30%;">
						<label class="checkbox">
							<input type="checkbox" id="checkIsAdmin"> Is Admin
						</label>
					</div>
					<div class="span" style="width: 40%;">
			    		<label class="checkbox">
			        		<input type="checkbox" id="checkHasAPIAccess"> Has API Access
			      		</label>
			      	</div>
			    </div>
			    <div class="form-actions">
				  <button type="submit" class="btn btn-primary">Save</button>
				  <button type="button" data-dismiss="modal" class="btn">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>