<!DOCTYPE html>
<html>
<head>
  <title>
    CIBI
  </title>
  <meta http-equiv="content-type" content="text/html;" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="" />
  <meta name="description"	content="">
  <meta name="author" content="">

 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>  

  <%= csrf_meta_tag %>

  <script type="text/javascript">
    var objappVersion = navigator.appVersion;
    var objAgent = navigator.userAgent;
    var objbrowserName  = navigator.appName;
    var objfullVersion  = ''+parseFloat(navigator.appVersion);
    var objBrMajorVersion = parseInt(navigator.appVersion,10);
    var objOffsetVersion,ix;
   
    
    if ((objOffsetVersion=objAgent.indexOf("Chrome"))!=-1) {
     objbrowserName = "Chrome";
     objfullVersion = objAgent.substring(objOffsetVersion+7);
    }
    // In Microsoft internet explorer
    else if ((objOffsetVersion=objAgent.indexOf("MSIE"))!=-1) {
     objbrowserName = "Microsoft Internet Explorer";
     objfullVersion = objAgent.substring(objOffsetVersion+5);
    }
    
    // trimming the fullVersion string at semicolon/space if present
    if ((ix=objfullVersion.indexOf(";"))!=-1)
       objfullVersion=objfullVersion.substring(0,ix);

    if ((ix=objfullVersion.indexOf(" "))!=-1)
       objfullVersion=objfullVersion.substring(0,ix);
     
    
    objBrMajorVersion = parseInt(''+objfullVersion,10);
    
    if (isNaN(objBrMajorVersion)) {
     objfullVersion  = ''+parseFloat(navigator.appVersion);
     objBrMajorVersion = parseInt(navigator.appVersion,10);
    }

    if((objbrowserName=="Microsoft Internet Explorer" && objBrMajorVersion<9)){
      // document.write("We have detected that you are using a browser that is not currently supported by CIBI. Please upgrade to latest version of Chrome or Firefox browser for better experience");

      window.location.replace("/upgrade.html");
    }

    console.log(''
     +'Browser name  = '+objbrowserName+'\n'
     +'Full version  = '+objfullVersion+'\n'
     +'Major version = '+objBrMajorVersion+'\n'
     +'navigator.appName = '+navigator.appName+'\n'
     +'navigator.userAgent = '+navigator.userAgent+'\n'
    )

  </script>

</head>
<body>
  <noscript>JavaScript is disabled in your browser! Please enable javascript for better experience.</noscript>
  <%= yield %>
	<div id="chart-tooltip" class='chart_tooltip' style="opacity: 0;"></div>
  <div id="globalOverlay">
    <img id="globalLoader" src="assets/ajax-loader-big3.gif">
  </div>

<% if Rails.env.production? %>
<!-- Google Analytics -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
   ga('create', 'UA-43840890-2', 'auto');
   ga('require', 'displayfeatures');
   ga('send', 'pageview');
  </script>
<% end %>

</body>
</html>

